<main>
  <div class="main-block">
    <nav class="nav">
      <ul>
        <li><a href="#main" class="active">Главная</a></li>
        <li><a href="#goals">Цели и задачи</a></li>
        <li><a href="#principle">Принцип работы</a></li>
        <li><a href="#cost">Стоимость</a></li>
        <li><a href="#team">Команда</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#smi">СМИ</a></li>
      </ul>
    </nav>
    <section class="banner" id="main">
      <div class="banner-block clm">
        <div class="title-block">
          <h1>Sangel</h1>
          <span>Приложение для быстрого вызова охраны</span>
        </div>
        <div class="banner-links">
          <p>Вы больше никогда не почувствуете себя беззащитным<br> в опасной ситуации.</p>
          <div>
            <a href="">Узнать подробнее</a>
            <a href="">Сделать предзаказ</a>
          </div>
        </div>
      </div>
    </section>
    <section class="choose-cards" id="goals">
      <div class="clm">
      <div class="titles">
        <h1>ВЫБОР SANGEL —</h1>
        <span>безопасность в любой ситуации</span>
      </div>
      <div class="choose-cards-container">
          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose1.png" alt="icon">
              <h2>Быстрая и профессиональная защита</h2>
            </div>
            <div class="flip-card-back">
              <p>Профессиональные сотрудники частных охранных предприятий с опытом от 3-х лет обеспечат вашу защиту за 5 минут</p>
            </div>
          </div>
          </div>

          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose2.png" alt="icon">
              <h2>Экстренная медицинская помощь</h2>
            </div>
            <div class="flip-card-back">
              <p>При наличии рисков вашему здоровью вам будет оказана экстренная медицинская помощь</p>
            </div>
            </div>
          </div>

          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose3.png" alt="icon">
              <h2>Помощь неравнодушных пользователей</h2>
            </div>
            <div class="flip-card-back">
              <p>В случае опасности вас сможет защитить не только наша мобильная охрана, но и другие неравнодушные пользователи нашего приложения</p>
            </div>
            </div>
          </div>

          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose4.png" alt="icon">
              <h2>Защита жизни ваших родных и близких</h2>
            </div>
            <div class="flip-card-back">
              <p>Установите приложение вашим близким и сможете защитить их жизнь от нападений</p>
            </div>
            </div>
          </div>

          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose5.png" alt="icon">
              <h2>Возможность предотвратить опасные ситуации</h2>
            </div>
            <div class="flip-card-back">
              <p>Наш навигатор безопасных маршрутов построит для вас наиболее защищенный путь домой</p>
            </div>
            </div>
          </div>

          <div class="choose-item">
            <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<?= IMG; ?>/choose6.png" alt="icon">
              <h2>Альтернатива — ежедневный риск</h2>
            </div>
            <div class="flip-card-back">
              <p>ЕЖЕДНЕВНЫЙ РИСК</p>
            </div>
            </div>
          </div>
      </div>
    </div>
    </section>

    <section id="principle">
      <div class="clm">
        <div class="titles mt-40">
          <h1>принцип работы приложения — </h1>
          <span>надёжная защита в несколько нажатий</span>
        </div>
        <div class="principle">
          <div class="principle-item">
            <img src="<?= IMG; ?>/prin1.png" alt="prin1">
            <h3>Скачать приложение</h3>
            <p>Увидите наш продукт, попробуете его использовать</p>
          </div>
          <div class="principle-item">
            <img src="<?= IMG; ?>/prin2.png" alt="prin1">
            <h3>Зарегистрироваться</h3>
            <p>Вам станет доступен полный функционал приложения </p>
          </div>
          <div class="principle-item">
            <img src="<?= IMG; ?>/prin3.png" alt="prin1">
            <h3>Привязать банковскую карту</h3>
            <p>Теперь вы находитесь под нашей защитой и ваша личная охрана всегда начеку</p>
          </div>
        </div>
        <div class="steps">
          <div class="step-item">
            <span>1</span>
            <p>Вход в приложение</p>
          </div>
          <div class="step-item">
            <span>2</span>
            <p>Отправка сигнала о помощи</p>
          </div>
          <div class="step-item">
            <span>3</span>
            <p>Находим ближайший экипаж</p>
          </div>
          <div class="step-item">
            <span>4</span>
            <p>Передаём сигнал ЧОПу</p>
          </div>
          <div class="step-item">
            <span>5</span>
            <p>Экипаж охраны выезжает на вызов</p>
          </div>
          <div class="step-item">
            <span>6</span>
            <p>Ситуация улажена</p>
          </div>
        </div>
      </div>
    </section>

    <section id="cost">
      <div class="clm">
        <div class="titles mt-40">
          <h1>Гарант вашей безопасности</h1>
        </div>
        <div class="garant">
          <img src="<?= IMG; ?>/garant.png" alt="699 рублей">
          <div>
            <ul>
              <li>доступ к навигатору безопасных маршрутов</li>
              <li>неограниченное уведомления родных и близких</li>
              <li>неограниченные уведомления для других пользователей приложения</li>
              <li>возможность вызова экипажа в долг </li>
              <li>бесплатная связь с экипажем</li>
              <li>бесплатная экстренная медицинская помощь</li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section id="team">
      <div class="clm">
        <div class="titles mt-40">
          <h1>Команда</h1>
        </div>
        <div class="team-container">

          <div class="team-item">
            <div>
              <h1>Денис <br> Левшин</h1>
              <span>СЕО</span>
            </div>
            <img src="<?= IMG; ?>/team1.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Тимофей <br> Смирнов</h1>
              <span>СМО</span>
            </div>
            <img src="<?= IMG; ?>/team2.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Данила <br> Москалец</h1>
              <span>СТО</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Евгений <br> Меньшенин</h1>
              <span>Гл. android разработчик</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Максим <br> Шафиков</h1>
              <span>Гл. backend разработчик</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Максим <br> Мищенко</h1>
              <span>devops инженер</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Яков <br> Кульбаб</h1>
              <span>android разработчик</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Ксения <br> Вандышева</h1>
              <span>android разработчик</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

          <div class="team-item">
            <div>
              <h1>Дмитрий <br> Апекун</h1>
              <span>backend разработчик</span>
            </div>
            <img src="<?= IMG; ?>/person.png" alt="seo">
          </div>

        </div>
      </div>
    </section>

    <section id="faq">
      <div class="clm">
        <div class="titles mt-40">
          <h1>FAQ</h1>
        </div>
        <div class="faq">
          <div class="faq_banner">
            <div class="faq_banner-block">
              <h3>Кто меня защищает?</h3>
              <p>Ближайшая группа быстрого реагирования (ГБР) - команда профессиональных секьюрити:</p>
              <ul>
                <li>они не дают моральную оценку вашей ситуации</li>
                <li>выезжают сразу после вызова</li>
                <li>могут оказать экстренную медицинскую помощь</li>
                <li>на связи 24/7</li>
              </ul>
            </div>
          </div>
          <div class="faq-block">
            <div class="faq-item">
              <h3>Я не уверен, что экипаж приедет быстро</h3>
              <p>В нашей системе около 400 экипажей по городу Санкт-Петербургу, за прошедший месяц было совершено около 30 выездов со средним временем прибытия 3,5 минуты</p>
            </div>
            <div class="faq-item">
              <h3>Очень большая цена за 1 выезд</h3>
              <p>Наша цена вдвое ниже чем стоимость услуг личного телохранителя в час. 700 рублей против 1400 рублей / час.</p>
            </div>
            <div class="faq-item">
              <h3>Если я нахожусь в здании, как мне помогут?</h3>
              <p>У вас есть возможность связаться с экипажем и передать им дополнительную информацию</p>
            </div>
            <div class="faq-item">
              <h3>Если экипаж попал в аварию или задерживается?</h3>
              <p>В таком случае вам будет бесплатно подобран другой ближайший экипаж</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="smi">
      <div class="clm">
        <div class="titles mt-40">
          <h1>СМИ о нас</h1>
        </div>
        <div class="smi">
          <a href="" target="_blank"><img src="<?= IMG; ?>/smi1.png" alt="smi"></a>
          <a href=""  target="_blank"><img src="<?= IMG; ?>/smi2.png" alt="smi"></a>
          <a href=""  target="_blank"><img src="<?= IMG; ?>/smi3.png" alt="smi"></a>
          <a href=""  target="_blank"><img src="<?= IMG; ?>/smi4.png" alt="smi"></a>
        </div>
      </div>
    </section>

  </div>
</main>