.clm{
    width: 1000px;
    margin: 0 auto;
}

.main-block{
    width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}
.nav{
    position: fixed;
    width: 220px;
}
.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
}
.nav ul li a{
    color: var(--dark_grey);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}
.nav ul li a.active{
    color: #fff;
}
.nav ul li a:hover{
    color: var(--major_white);
}
.banner{
    background-image: url(../img/banner.png);
    background-size: cover;
}
.banner-block {
    padding-top: 144px;
    padding-bottom: 122px;
}
.banner-block h1{
    color: var(--major_white);
    font-family: 'MediumCyrillic';
    font-size: 96px;
    margin-bottom: 20px;
}
.banner-block span{
    color: var(--green);
    text-transform: uppercase;
    font-size: 18px;
}
.title-block{
    margin-bottom: 230px;
}
.banner-links p{
    color: var(--major_white);
    font-size: 18px;
    margin-bottom: 40px;
}
.banner-links > div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.banner-links > div a{
    width: 100%;
    padding: 31px 40px;
    font-size: 22px;
    border-radius: 4px;
    font-family: 'MediumCyrillic';
    text-transform: uppercase;
    border: 2px solid var(--green);
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}
.banner-links > div a:first-child{
    background: transparent;
    color: var(--green);
    
}
.banner-links > div a:last-child{
    background: var(--green);
    color: var(--black);
}

.choose-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.choose-item{
    perspective: 1000px;
    height: 160px;
    width: 320px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.choose-item:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: var(--light_black);
    background-size: cover;
}

.choose-item:nth-child(1) .flip-card-front{
    background-image: url(../img/card_1.png);
}
.choose-item:nth-child(2) .flip-card-front{
    background-image: url(../img/card_2.png);
}
.choose-item:nth-child(3) .flip-card-front{
    background-image: url(../img/card_3.png);
}
.choose-item:nth-child(4) .flip-card-front{
    background-image: url(../img/card_4.png);
}
.choose-item:nth-child(5) .flip-card-front{
    background-image: url(../img/card_5.png);
}

.flip-card-front h2{
    color: var(--major_white);
    font-size: 18px;
    font-weight: 500;
    font-family: 'IdealistLight';
}
.flip-card-front img{
    width: 40px;
    height: 40px;
}
.flip-card-back{
    font-size: 14px;
}
.flip-card-back {
    background-color: var(--light_black);
    color: var(--major_white);
    transform: rotateY(180deg);
}
.choose-item:nth-child(6) .flip-card-back {
    background: var(--black);
}
.titles{
    margin-top: 20px;
    margin-bottom: 40px;
}
.titles h1{
    color: var(--green);
    font-size: 24px;
    font-family: 'MediumCyrillic';
    margin-bottom: 20px;
    text-transform: uppercase;
}
.titles span{
    color: var(--major_white);
    font-size: 18px;
}
.titles.mt-40{
    margin-top: 40px;
}


.principle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.principle-item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--light_black);
    gap: 20px;
    width: 320px;
    height: 190px;
    position: relative;
}
.principle-item:nth-child(1)::before{
    content: '01';
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: 18px;
    text-shadow: 7px 6px 7px #ffffff;
    color: var(--green);
}
.principle-item:nth-child(2)::before{
    content: '02';
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: 18px;
    text-shadow: 7px 6px 7px #ffffff;
    color: var(--green);
}
.principle-item:nth-child(3)::before{
    content: '03';
    position: absolute;
    top: -7px;
    left: -7px;
    font-size: 18px;
    text-shadow: 7px 6px 7px #ffffff;
    color: var(--green);
}
.principle-item img{
    width: 40px;
    height: 40px;
}
.principle-item h3{
    color: var(--major_white);
    font-size: 18px;
}
.principle-item p{
    color: var(--major_white);
    font-size: 14px;
}

.steps{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.step-item{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 10px;
    flex-direction: column;
    background: var(--gr_T);
    width: 150px;
    border-radius: 4px;
}
.step-item span{
    padding: 12px;
    color: var(--major_white);
    font-size: 18px;
    border: 2px solid var(--grey_photo);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.step-item p{
    font-size: 14px;
    color: var(--grey_photo);
}
.garant{
    display: flex;
    gap: 20px;
}
.garant img{
    width: 490px;
}
.garant ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding-left: 20px; 
}
.garant ul li{
    color: var(--major_white);
    position: relative;
    padding-left: 15px;
}
.garant ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 5px; 
    height: 5px; 
    background-color: #fff; 
    border-radius: 50%; 
  }

  .team-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.team-container::-webkit-scrollbar {
    height: 8px;
}

.team-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.team-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.team-item {
    flex: 0 0 auto;
    width: 320px;
    background: var(--light_black);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.team-item div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-item h1{
    color: var(--grey_photo);
    font-size: 18px;
}
.team-item span{
    font-family: 'IdealistLight';
    font-size: 14px;
    color: var(--grey_photo);
}
.team-item img{
    width: 131px;
    border-radius: 4px;
}
.faq img{
    width: 100%;
    margin-bottom: 20px;
}
.faq_banner{
    width: 100%;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    background-color: var(--light_black);
    background-image: url(../img/faq_banner.png);
    background-size: cover;
}
.faq_banner-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq_banner-block h3{
    font-size: 18px;
    color: var(--green);
}
.faq_banner-block p{
    color: var(--major_white);
    font-family: 'IdealistLight';
    font-size: 14px;
}
.faq_banner-block ul{
    list-style-type: none;
    padding-left: 20px; 
}
.faq_banner-block ul li{
    color: var(--major_white);
    font-family: 'IdealistLight';
    position: relative;
    padding-left: 15px;
    font-size: 14px;
}
.faq_banner-block ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 5px; 
    height: 5px; 
    background-color: #fff; 
    border-radius: 50%; 
  }
.faq-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-item{
    background: var(--light_black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
}
.faq-item h3{
    color: var(--major_white);
    font-size: 18px;
}   
.faq-item p{
    color: var(--major_white);
    font-size: 14px;
}   
.smi{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
.smi img{
    width: 215px;
}

@media (max-width: 1440px){
    .main-block{
        width: 1220px;
    }
}