<footer class="footer">
  <div class="footer__block">
    <div>
      <p>ООО «Сенджел» &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ИНН 3100037514</p>
      <p>ИНН 3100037514  Юридический адрес:</p>
      <p>Белгородская область, г. Белгород, ул. Мичурина д.62Б</p>
    </div>
    <div>
      <p>По вопросам сотрудничества:</p>
      <p><a href="mailto:den.levshin.007@mail.ru" target="_blank">den.levshin.007@mail.ru</a> , телеграмм: <a href="https://t.me/iamCEO05">@ iamCEO05</a></p>
      <p>Для получения дополнительной информации:</p>
      <p><a href="mailto:sangel.safety78@yandex.ru" target="_blank">sangel.safety78@yandex.ru</a></p>
    </div>
  </div>
</footer>
